@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #faeaeaf5;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    background-color: #cacaca;
    padding: 20px;
    box-shadow: 0 2 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}