@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #faeaeaf5;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    background-color: #cacaca;
    padding: 20px;
    box-shadow: 0 2 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border: 2px solid #0478d6;
    border-image: linear-gradient(to right, #06a0dd, #02baca, #0026ff) 1;
    box-shadow: inset 0 0 8px #000;
    transition: box-shadow 0.3s ease;
}

#task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 50px solid #333;
}


button {
    padding: 10px 20px;
    background-color: #2778bb;
    color: #fff;
    border: 4px solid #bec7cc;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}

button:hover {
    background-color: #1e5a8c;
    transform: scale(1.1);
}